/* room */
body {
   font-family: 'Poppins', 'Roboto', sans-serif;
   background: #E5E5E5;
}

a{
   color: white;
   font-weight: 300;
}

a:hover {
   text-decoration: none;
   color: #21B573;
}

h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 54px;
   color: #413960;
   text-align: center;
   margin-bottom: 50px;
}


/* Utilities */
.btn-green {
   font-family: Roboto;
   color: white;
   background-image: linear-gradient(45deg,#21B573,#66b0db);
   padding: 12px 28px;
   border-radius: 33px;
}
.btn-green:hover {
   text-decoration: none;
   color: #000000;
   background-image: linear-gradient(1deg,#66b0db, #21B573);
}

.btn-courses {
   display: inline-block;
   padding: 12px 36px;
   line-height: 19px;
   margin-top: 6px;
   margin-bottom: 25px;
}


.container {
   max-width: 1444px;
   margin-bottom: 80px;
}

.container-wider {
   max-width: 1600px;
}

.container-mini {
   max-width: 752px;
   margin-bottom: 105px;
}

.line {
   margin: auto;
   background-color: #21B573;
   height: 4px;
   width: 100px;
}

.vertical-divider {
   height: 200px;
   width: 2px;
   background-color: #b1b8b0;
   margin: auto;
}


/* Custom styling */
.navbar-light .navbar-nav .nav-link {
   color: #000000;
   padding: 0 20px;
}

#hero {
   background: #F0FFF0;
   padding-top: 17px;
   padding-bottom: 30px;
}

.hero-slogan {
   color: #FD511A;
   line-height: 24px;
}
.hero-info {
   padding: 20px 50px 0px 0px;
}

#hero h1 {
font-size: 48px;
line-height: 70px;
font-weight: bold;
}

.text-focus {
   color: #21B573;
}

.hero-text {
   color: #6C6B6B;
   line-height: 36px;
   padding: 15px 0px;
}

.btn-hero {
   margin-top: 10px;
   padding: 12px 36px;
}

#features {
   padding: 50px 0px;
}

#features h3, #courses h3 {
   color: #413960;;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   padding-top: 30px;
}

#features p, #courses p {
   color: #585859;
   font-weight: 300;
}


.item {
   background: #F8FFFB;
   border-radius: 10px;
   height: 270px;
   width: 270px;
}

.item-shadow {
   background: #FFFFFF;
   box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   height: 270px;
   width: 270px;
}



#clients img {
   width: 100%;
}

#clients img:hover {
   transform: scale(1.3);
}

#clients h2 {
   margin-bottom: 0px;
}


footer {
   background: #282531;
   padding-top: 60px;
   padding-bottom: 15px;
}
footer .container {
    margin-bottom: 0px!important;
 }

.footer-copyright {
   color: white;
   text-align: center;
   line-height: 30px;
   font-weight: 200;
   padding-top: 80px;
}

footer a {
   font-size: 18px;
   line-height: 30px;
}